<head>
    <style>
        #cast-container img {
            border-radius: 50%;
        }
    </style>
</head>
<div class="container">
  <div class="row">
      <div class="card" style="width: 1000rem;">
        <div class="card-body">
              <div class="col-4"> 
                  <img src="https://image.tmdb.org//t//p//w342////9gk7adHYeDvHkCSEqAvQNLV5Uge.jpg" class="card-img-top" alt="...">
              </div>
    <div class="col-6">
      <h1>Inception</h1>
      <ul class="list-group">
        <li class="list-group-item">your mind is the scene of the crime.</li>
        <li class="list-group-item">
            <h5>148m|2010 <span class="badge rounded-pill bg-secondary">Adventure</span><span class="badge rounded-pill bg-secondary">Action</span><span class="badge rounded-pill bg-secondary">Science Fiction</span></h5>
            </li>
        <li class="list-group-item"><h3><span class="badge bg-success">8.9</span></h3></li>
        <li class="list-group-item">Cobb, a skilled thief who commits corporate espionage by infiltrating the subconscious of his targets is offered a chance to regain his old life as payment for a task considered to be impossible: \"inception\", the implantation of another person's idea into a target's subconscious.</li>
</ul>
    </div>
    <div class="col">
        <div class="container">
            <div class="row"><button type="button" class="btn btn-outline-light">REVIEW</button></div>
            <div class="row"><button type="button" class="btn btn-light">BUY $9.9</button></div>
        </div>
    </div>
        </div>
      </div>
  
  </div>
</div>
<div class="container">
    <div class="row">
    <div class="col-4" style="background-color: #eeeeee">
      <h5>MOVIE FACTS</h5>
      <ul class="list-group-flush" >
        <li class="list-group-item" style="background-color: #eeeeee">
          Release Date
          <span class="badge rounded-pill bg-dark">Jul 15, 2010</span>
        </li>
        <li class="list-group-item" style="background-color: #eeeeee">
          Run Time
          <span class="badge rounded-pill bg-dark">148 m</span>
        </li>
        <li class="list-group-item" style="background-color: #eeeeee">
          Box Office
          <span class="badge rounded-pill bg-dark">$825,532,634.00</span>
        </li>
        <li class="list-group-item" style="background-color: #eeeeee">
          Budget
          <span class="badge rounded-pill bg-dark">$160,000,000.00</span>
        </li>
      </ul>
      <h5>Trailers</h5>
      <div>Inception</div>
    </div>
    <div id="cast-container" class="col-5">
      <h5>CAST</h5>
      <ul class="list-group-flush">
        <li class="list-group-item row">
          <div class="row">
            <img src="https://image.tmdb.org/t/p/w342//wo2hJpn04vbtmh0B9utCFdsQhxM.jpg" alt="Avatar" class="col-1"/>
            <div class="col-7">Leonardo DiCaprio</div>
            <div class="col-4">Dom Cobb</div>
          </div>
        </li>
        <li class="list-group-item row">
          <div class="row">
            <img src="https://image.tmdb.org/t/p/w342//psAXOYp9SBOXvg6AXzARDedNQ9P.jpg" class="col-1"/>
            <div class="col-7">Ken Watanabe</div>
            <div class="col-4">Mr. Saito</div>
          </div>
        </li>
        <li class="list-group-item row">
          <div class="row">
            <img src="https://image.tmdb.org/t/p/w342//4U9G4YwTlIEbAymBaseltS38eH4.jpg" class="col-1"/>
            <div class="col-7">Joseph Gordon-Levitt</div>
            <div class="col-4">Arthur</div>
          </div>
        </li>
        <li class="list-group-item row">
          <div class="row">
            <img src="https://image.tmdb.org/t/p/w342//zChwjQ9D90fxx6cgWz5mUWHNd5b.jpg" class="col-1"/>
            <div class="col-7">Marion Cotillard</div>
            <div class="col-4">Mal Cobb</div>
          </div>
        </li>
        <li class="list-group-item row">
          <div class="row">
            <img src="https://image.tmdb.org/t/p/w342//tp157uXeMPA5G91cfecBWO2OFzn.jpg" class="col-1"/>
            <div class="col-7">Elliot Page</div>
            <div class="col-4">Ariadne</div>
          </div>
        </li>
        <li class="list-group-item row">
          <div class="row">
            <img src="https://image.tmdb.org/t/p/w342//yVGF9FvDxTDPhGimTbZNfghpllA.jpg" class="col-1"/>
            <div class="col-7">Tom Hardy</div>
            <div class="col-4">Zak Eames</div>
          </div>
        </li>
        <li class="list-group-item row">
          <div class="row">
            <img src="https://image.tmdb.org/t/p/w342//rm4jns47kaqh7oC7RYiXrESlVbV.jpg" class="col-1"/>
            <div class="col-7">Cillian Murphy</div>
            <div class="col-4">Robert Fischer</div>
          </div>
        </li>
        <li class="list-group-item row">
          <div class="row">
            <img src="https://image.tmdb.org/t/p/w342//zLxzAdAfu7y02yEx29JSLDgXJZ4.jpg" class="col-1"/>
            <div class="col-7">Tom Berenger</div>
            <div class="col-4">Peter Browning</div>
          </div>
        </li>
        <li class="list-group-item row">
          <div class="row">
            <img src="https://image.tmdb.org/t/p/w342//klNx4UqkcE9u7P3vsg20AKwgplw.jpg" class="col-1"/>
            <div class="col-7">Michael Caine</div>
            <div class="col-4">Stephen Miles</div>
          </div>
        </li>
        <li class="list-group-item row">
          <div class="row">
            <img src="https://image.tmdb.org/t/p/w342//k4OiYIhr886ollgOrvrBs2ZIZbc.jpg" class="col-1"/>
            <div class="col-7">Dileep Rao</div>
            <div class="col-4">Yusuf</div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
