@using System.Security.Claims

@if (User.Identity.IsAuthenticated)
{
    // show his/her name, links for movies purchased, favorites, logout
    <div class="text-end">
        <ul class="nav">
            <li class="nav-item dropdown">
                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                    @User.Claims.FirstOrDefault(c => c.Type == ClaimTypes.GivenName)?.Value
                    
                    @User.Claims.FirstOrDefault(c => c.Type == ClaimTypes.Surname)?.Value
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" asp-controller="User" asp-action="Purchases"> Purchases </a>
                    <a class="dropdown-item" asp-controller="User" asp-action="Favorites"> Favorites </a>
                    <a class="dropdown-item" asp-controller="User" asp-action="EditProfile"> Edit Profile </a>
                    <a class="dropdown-item" asp-controller="User" asp-action="Profile"> View Profile </a>
                    <a class="dropdown-item" asp-controller="Account" asp-action="LogOut"> Logout </a>
                </div>
            </li>
        </ul>
    </div>
}
else
{
    // show Login and Register buttons
    <div class="text-end">
        <a class="btn btn-outline-primary me-2" asp-controller="Account" asp-action="Login" > Login </a>
        <a class="btn btn-primary" asp-controller="Account" asp-action="Register" > Register </a>

    </div>
}
