@model IEnumerable<ApplicationCore.Models.GenreModel>

    @foreach (var genre in Model)
{
    <a asp-controller="movies" asp-action="genre" class="dropdown-item" id="@genre.Id">
        @genre.Name
    </a>
}